<div class="container">
  <div style="display:none;" id="navTab" name="signup"></div>
  <form class="navbar-form navbar-left" role="signup" id="signUp">
    
  </form> 
</div>
<script>
$(function(){
  console.log('login')
})
</script>